<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body>
  {{ partial "navbar.html" . }}
  
  <div class="container">
    <article>
      {{ block "main" . }}{{ end }}
    </article>
  </div>

  {{ partial "bootstrap-js.html" . }}
  {{/* partial "mastodon-js.html" . */}}
  {{/* partial "cookie-consent.html" . */}}
  {{ partial "footer.html" . }}
</body>

</html>
