{{- define "main" -}}

<h1>{{ .Title }}</h1>

{{ $pages := .Pages }}
{{ range $pages.ByLastmod.Reverse }}
  <p>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    <br>
    {{ $customDateFormat := "January 2, 2006" }}
    {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
    <small class="text-secondary">{{ if gt .Lastmod .PublishDate }}{{ .Lastmod.Format $customDateFormat }} (updated){{ else }}{{ .PublishDate.Format $customDateFormat }}{{ end }}</small>
    {{ partial "tags" . }}
    {{ partial "categories" . }}
    {{ if eq .Site.Params.showPostSummary true }}
      <br>
      {{ .Summary }}
    {{ end }}
  </p>
{{ end }}

{{- end -}}

