<article class="post">
  <header>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    <br>
    {{ $customDateFormat := "January 2, 2006" }}
    {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
    <small class="text-secondary">{{ if gt .Lastmod .PublishDate }}{{ .Lastmod.Format $customDateFormat }} (updated){{ else }}{{ .PublishDate.Format $customDateFormat }}{{ end }}</small>
  </header>
  {{ .Summary }}
  <footer>
    <a href='{{ .Permalink }}'><nobr>Read more →</nobr></a>
  </footer>
</article>
