{{- define "main" -}}

<h1>{{ .Title | markdownify }}</h1>
<p>
  <small class="text-secondary">
  Author: {{ .Params.author }}<br/>
  {{ $customDateFormat := "January 2, 2006" }}
  {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
  Published: {{ if gt .Lastmod .PublishDate }}{{ .Lastmod.Format $customDateFormat }} (updated){{ else }}{{ .PublishDate.Format $customDateFormat }}{{ end }}<br/>
  </small>
  {{ partial "tags" . }}
  {{ partial "categories" . }}
</p>
{{ .Content }}

{{- end -}}
