{{ if eq .Site.Params.includeBootstrapJs true}}
{{ $jqueryJs := "js/jquery-3.7.0.slim.min.js" -}}
<script src="{{ $jqueryJs | absURL }}"></script>
{{ $bootstrapJs := "js/bootstrap.bundle.min.js" -}}
<script src="{{ $bootstrapJs | absURL }}"></script>
{{ end }}
