<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="color: {{ .Site.Params.faviconThemeColor }}; font-weight: bold; background-color: {{ .Site.Params.navbarBackgroundColor }}">
    Copyright &copy; {{ now.Format "2006" }} | {{ .Site.Params.Author }} | All rights reserved.
  </div>
</footer>
