{{ define "main" }}
  <main aria-role="main">
    <header class="homepage-header">
      <h1>{{ .Site.Title }}</h1>
      {{ with .Site.Params.description }}
      <span class="subtitle">{{ . }}</span>
      {{ end }}
    </header>
    <div class="homepage-content">
      <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
      {{ .Content }}
    </div>
    <div>
      {{ range first 5 .Site.RegularPages.ByLastmod.Reverse }}
      {{ .Render "summary" }}
      {{ end }}
    </div>
  </main>
{{ end }}
